// @font-face {
//   font-family: "goldenbook";
//   src: url("https://use.typekit.net/af/6a8774/00000000000000003b9b38cc/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
//       format("woff2"),
//     url("https://use.typekit.net/af/6a8774/00000000000000003b9b38cc/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
//       format("woff"),
//     url("https://use.typekit.net/af/6a8774/00000000000000003b9b38cc/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
//       format("opentype");
//   font-display: auto;
//   font-style: normal;
//   font-weight: 300;
// }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
}

body {
  // background-color: #edeee9;
  // font-family: "goldenbook";
  // text-transform: uppercase;
  // color: #191e2a;
  // font-weight: 300;
  // font-size: 4vw;
  ::-moz-selection {
    /* Code for Firefox */
    color: #edeee9;
    background: #191e2a;
  }

  ::selection {
    color: #edeee9;
    background: #191e2a;
  }
}
